:root {
    --color-primary: #640032;
    
    --color-secondary: #3a0061;
    --color-secondary-light: #edd2ff;
    --color-secondary-dark: #270041;

    --color-tertiary: #ce5c00;
    --color-tertiary-light: #c89300;
}